<!-- <h1>{{title}}</h1>

<img [src]="imageURL" alt="">

<button (click)="showAlert()">Click Me</button>

<input type="text" [(ngModel)]="result">

{{result}} -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <app-price-tag title="New Card 1" [url]="urls[0]"></app-price-tag>
    </div>
    <div class="col-lg-3">
      <app-price-tag title="New Card 2" [url]="urls[1]"></app-price-tag>
    </div>
    <div class="col-lg-3">
      <app-price-tag title="New Card 3" [url]="urls[2]"></app-price-tag>
    </div>
    <div class="col-lg-3">
      <app-price-tag title="New Card 4" [url]="urls[3]"></app-price-tag>
    </div>
    <div class="col-lg-3">
      <app-price-tag title="New Card 4" [url]="urls[3]"></app-price-tag>
    </div>
    <div class="col-lg-3">
      <app-price-tag title="New Card 4" [url]="urls[3]"></app-price-tag>
    </div>
    <div class="col-lg-3">
      <app-price-tag title="New Card 4" [url]="urls[3]"></app-price-tag>
    </div>
  </div>
</div>
